$material-light-bg-dark-text-primary: rgba(0,0,0,0.87);
$material-light-bg-dark-text-secondary: rgba(0,0,0,0.54);
$material-light-bg-dark-text-hints: rgba(0,0,0,0.26);

$material-dark-bg-light-text-primary: rgba(255,255,255,1);
$material-dark-bg-light-text-secondary: rgba(255,255,255,0.7);
$material-dark-bg-light-text-hints: rgba(255,255,255,0.3);


$material-positive: #3F51B5;
$material-positive900: #1A237E;
$material-positive100: #C5CAE9;
$material-calm: #2196F3;
$material-calm900: #0D47A1;
$material-calm100: #BBDEFB;
$material-royal: #673AB7;
$material-royal900: #311B92;
$material-royal100: #D1C4E9;
$material-balanced: #4CAF50;
$material-balanced900: #1B5E20;
$material-balanced100: #C8E6C9;
$material-energized: #FF9800;
$material-energized900: #E65100;
$material-energized100: #FFE0B2;
$material-assertive: #F44336;
$material-assertive900: #B71C1C;
$material-assertive100: #FFCDD2;
$material-stable: #E0E0E0;
