/* Button Bar
==================================*/

.button-bar {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.button-bar > .button {
    box-shadow: none;
    /*    line-height: initial; */
}

.button-bar>.button .icon:before,
.button-bar>.button:before {
    line-height: initial;
}

.bar-footer .button-fab {
    position: absolute;
    top: -26px;
    bottom: initial;
}

.bar-footer .buttons-left .button-fab {
    left: 8px;
}

.bar-footer .buttons-right .button-fab {
    right: 8px;
}

.bar .button.button-clear {
    box-shadow: none;
}

.left-buttons .button-fab {
    left: 8px;
    top: 16px;
}

.right-buttons .button-fab {
    right: 8px;
    top: 16px;
}

.fab-left.title-left,
.fab-left.title.title-left {
    left: 68px;
}
