
/* Layouts: Login
==================================*/

.login {
    background-position: 25% 25%;
    background-size: 180% 180%;
    height: 100%;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.login .item {
    margin: 0 12px;
    padding-left: 0;
    padding-right: 0;
    width: initial;
}
.login .button-bar {
    bottom: 0;
    margin: 28px 12px 0;
    width: initial;
}
.login .light-bg {
    background-color: #fff;
}
.icon.hero-icon:before {
    line-height: 130px;
}
