/* Menu */

.menu-bottom {
    bottom: 16px;
    left: 16px;
    right: 16px;
    position: absolute;
}

.menu-top {
    top: 16px;
    left: 16px;
    right: 16px;
    position: absolute;
}

.menu .avatar {
    top: 16px;
    left: 16px;
    height: 65px;
    width: 65px;
}

.menu .bar.bar-header.expanded {
    box-shadow: none;
    min-height: 150px;
    color: #fff;
}

.menu-open .bar.bar-header.expanded {
    background-position: 0;
    background-size: 100%;
}

.has-expanded-header {
    top: 150px !important;
}
