html, body {
	background: #333;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.links {
	padding: 10px;
	text-align: center;
}

.links a {
	border: solid 2px transparent;
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: 0.05rem;
	padding: 8px 15px;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(55, 55, 55, 0.5);
} 

.links a.active {
	background: rgba(255, 255, 255, 0.2);
  	border: solid 2px rgba(255, 255, 255, 0.1);
  	border-radius: 6px;
}

.device {
	background: url('../img/device.png');
	display: block;
	height: 795px;
	margin: 20px auto;
	position: relative;
	width: 400px;
}

.device > iframe {
  background: #fff;
  border: none;
  height: 580px;
  left: 34px;
  position: absolute;
  top: 112px;
  width: 332px;
}