
/* Motion: Blinds
==================================*/

.animate-blinds .item,
.animate-blinds .item {
    visibility: hidden;
}
.animate-blinds .item,
.animate-blinds .item {
    -ms-transform: scale3d(0.8, 0, 1);
    -webkit-transform: scale3d(0.8, 0, 1);
    transform: scale3d(0.8, 0, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.animate-blinds .item-bg-image > img.background,
.animate-blinds .item-bg-image > img.background {
    box-shadow: none;
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.animate-blinds .in,
.animate-blinds.done > *,
.animate-blinds .in,
.animate-blinds.done > * {
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.animate-blinds .in,
.animate-blinds.done .item,
.animate-blinds .in,
.animate-blinds.done .item {
    visibility: visible;
}
.animate-blinds .item,
.animate-blinds .item {
    visibility: hidden;
}
.animate-blinds .item,
.animate-blinds .item  {
    opacity: 0;
    filter: alpha(opacity=0);
}
.animate-blinds .in,
.animate-blinds.done,
.animate-blinds .in,
.animate-blinds.done {
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    filter: alpha(opacity=100);
}
.animate-blinds .in,
.animate-blinds.done,
.animate-blinds .in,
.animate-blinds.done {
    visibility: visible;
}
.animate-blinds.done .in,
.animate-blinds.done .in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.animate-blinds .has-mask-reverse:after,
.animate-blinds .has-mask-reverse:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.animate-blinds.done .has-mask-reverse:after,
.animate-blinds.done .has-mask-reverse:after {
    opacity: 1;
    filter: alpha(opacity=100);
}
.animate-blinds .out,
.animate-blinds .out {
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}