
/* Motion: Slide Up
==================================*/

.slide-up,
.slide-up,
.hero.slide-up {
    height: 100%;
    overflow: hidden;
    text-align: center;
}


.slide-up {
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide-up *,
.slide-up *,
.hero.slide-up * {
    opacity: 0;
    filter: alpha(opacity=0);
}
.hero.slide-up + .mid-bar,
.slide-up + .mid-bar,
.slide-up + .mid-bar {
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transform: translate3d(100%, -240px, 0);
    transform: translate3d(100%, -240px, 0);
}